{% extends 'base.html'%}

{%block head%}
<title>Add Event</title>
{% endblock %}
{%block body%}
<div class= "content">
    <h1 style="text-align: center">Add Event</h1>
    <div class="form">
        <form action='/addevent/' method ="POST">
            Event Name:
            <br>
            <input type="text" name="content" id="content">
            <br>
            <br>
            Initial no of tickets:
            <br>
            <input type="number" name="content_ticket" id="content_ticket">
            <br>
            <br>
            Date of Event:
            <br>
            <input type="date" name="content_ticket" id="content_ticket">
            <br>
            <input type="submit" value="Add Event">
        </form>
    </div>
        <div>
        <a href="/">Go Back</a>
    </div>
    </div>
</div>
{% endblock %}