{% extends 'base.html'%}

{%block head%}
<title>Event Master</title>
{% endblock %}
{%block body%}
<div class= "content">
    <h1 style="text-align: center">Ticket Management System</h1>
    {% if events|length<1%}
        <h4 style="text-align: center">There are no events. Create one below!</h4>
        {%else%}
        <table>
            <tr>
                <th>Event</th>
                <th>Tickets Available</th>
                <th>Event Date</th>
                <th>Actions</th>
            </tr>
            {% for event in events %}
                <tr>
                    <td>{{event.name }}</td>
                    <td>{{event.available}}</td>
                    <td>{{event.date}}</td>
                    <td>
                        <a href="/view/{{event.name}}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div>
        <a href="/addevent/">Add Event</a>
        &nbsp;
        <a href="/check/">Check Ticket</a>
        &nbsp;
        <a href="/delete/">Delete Everything</a>
    </div>
</div>
{% endblock %}