{% extends 'base.html'%}

{%block head%}
<title>Event Viewer</title>
{% endblock %}
{%block body%}
<div class= "content">
    <h1 style="text-align: center">{{title + " Event"}}</h1>
    <table>
    <tr>
        <th>Total Tickets</th>
        <th>Available Tickets</th>
        <th>Redeemed Tickets</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>{{ viewer|length}}</td>
        {% set ticket_a = namespace(value=0) %}
        {% set ticket_r = namespace(value=0) %}
        <td>{{available}}</td>
        <td>{{redeemed}}</td>

        
        <td>
            <a href="/addticket/{{title}}">Add Tickets</a>
            <br>
            <br>
            <a href="/reset/{{title}}">Reset</a>
            <br>
            <br>
            <a href="/redeemticket/{{title}}">Redeem Ticket</a>
        </td>
    </tr>
    </table>
    <div>
        <a href="/">Main Page</a>
    </div>
</div>
{% endblock %}    